@import "~antd/dist/antd.css";

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto";
}

#main {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

#main header {
    flex: 0 1 auto;
}

#main main {
    flex: 1 1 auto;
}

#main footer {
    flex: 0 1 40px;
}

#main main .site-content {
    background-color: #ffffff;
    padding: 50px;
    padding-top: 20px;
    min-height: 72vh;
}
