@import '~antd/dist/antd.css';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto';
}

#main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#main header {
  flex: 0 1 auto;
}

#main main {
  flex: 1 1 auto;
}

#main footer {
  flex: 0 1 40px;
}

#main main .site-content {
  background: #fff;
  padding: 24px;
  min-height: 72vh;
}
